/* DARK MODE */
.dark {
  background: #121212;
  color: #eee;
}

.dark .header {
  background: #1e1e1e;
}

.dark .btn {
  background: #333;
}

.dark .card {
  background: #1e1e1e;
}

/* TOGGLE BUTTON */
.toggle-container {
  text-align: center;
  margin: 10px;
}

#darkToggle {
  padding: 8px 15px;
  border: none;
  background: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

/* TYPING TEXT */
.typing {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  height: 20px;
}

/* PROJECT SECTION */
.projects {
  text-align: center;
  margin: 40px 20px;
}

.project-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* PROJECT CARDS */
.card {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* HOVER EFFECT */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.card a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: red;
}

/* RESUME BUTTON */
.resume {
  text-align: center;
  margin: 30px;
}

.resume-btn {
  padding: 12px 20px;
  background: black;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s;
}

.resume-btn:hover {
  background: red;
  transform: scale(1.1);
}
